.container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}
.container > div{
    padding: 5px;
    border: 1px solid black;
    margin : 10px;
}
.input-box{
    display: flex;
    margin: 20px;
    padding: 20px;
}

label{
    width: 200px;
}

input{
    border: 1px solid green;
}

th,td{
    padding: 5px;
    border: 1px dotted black;
}